<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://vitalets.github.io/x-editable/assets/bootstrap300/css/bootstrap.css">

	<!-- Optional theme -->
	

	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
		rel="stylesheet" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
	{{{body}}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://vitalets.github.io/x-editable/assets/bootstrap300/js/bootstrap.js"></script>
	<script src="https://vitalets.github.io/x-editable/assets/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
	<script src="/javascripts/main.js"></script>
</body>

</html>